<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>urSmiles</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb175836913345184</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb175836913345184</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.248029839720-02ehp50i5v92bc6s8iaq54ovo9lajaoe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.248029839720-02ehp50i5v92bc6s8iaq54ovo9lajaoe</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.agiletech.ursmiles</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.agiletech.ursmiles</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>449af4b22774dcd80fcc8450d2d10685a7ea4744</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>175836913345184</string>
	<key>FacebookDisplayName</key>
	<string>urSmiles</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>ursmiles.sg</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>urSmiles would like access to your music library</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>urSmiles would like access to your bluetooth peripheral</string>
	<key>NSCalendarsUsageDescription</key>
	<string>urSmiles would like access to your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>urSmiles có thể truy cập máy ảnh trên thiết bị của bạn để ghi lại những hình ảnh cung cấp thông tin cho tư vấn viên.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>urSmiles would like to your microphone (for videos)</string>
	<key>NSMotionUsageDescription</key>
	<string>urSmiles would like access to motion data</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>urSmiles would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>urSmiles có thể truy cập thư viện ảnh của bạn để chọn những hình ảnh cung cấp thông tin cho tư vấn viên.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>urSmiles would like access to your micro</string>
	<key>OneSignal_app_groups_key</key>
	<string>group.sg.ursmiles.ursmiles.onesignal</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Ionicons.ttf</string>
		<string>SF-UI-Text-Regular.ttf</string>
		<string>SF-UI-Text-Bold.ttf</string>
		<string>ur-icon.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
